<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cs220.ssmessaging">

    <!-- The list of permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name="com.cs220.ssmessaging.MyApplication.MyApplication">
        <activity android:name="com.cs220.ssmessaging.frontend.activities.ConversationsListActivity">
        </activity>
        <activity android:name="com.cs220.ssmessaging.frontend.activities.LoginActivity">
        </activity>
        <activity android:name="com.cs220.ssmessaging.frontend.activities.ConversationActivity">
        </activity>
        <activity android:name="com.cs220.ssmessaging.frontend.activities.SettingsActivity">
        </activity>
        <activity android:name="com.cs220.ssmessaging.frontend.activities.ContactsActivity">
        </activity>
        <activity android:name="com.cs220.ssmessaging.frontend.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>